@import 'tailwindcss';

@theme {
  --color-primaryGreen: #3b9b7a;
  --color-secondaryGreen: #4c957b;
}

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 56px;
}

h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

p {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }

  h2 {
    font-size: 30px;
    line-height: 35px;
  }

  h3 {
    font-size: 24px;
    line-height: 30px;
  }

  h4 {
    font-size: 20px;
    line-height: 25px;
  }

  p {
    font-size: 16px;
  }
}
